# Data Wrangling

In [221]:
import numpy as np
import pandas as pd
import requests
import os
import json
from timeit import default_timer as timer
import matplotlib.pyplot as plt

## Import files

In [222]:
#Import csv file
tae = pd.read_csv('twitter-archive-enhanced.csv')

## Dataframes

### Describe data

In [223]:
tae.head()
# tae.tail()
# tae.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [224]:
tae.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [225]:
tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

### Handle missing data

In [226]:
tae.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [227]:
tae.isna().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [228]:
# drops rows where any column has na
tae.dropna(axis=0) # drop na rows
tae.dropna(axis=1) # drop na columns

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,5,10,None,None,None,None,None
2352,666044226329800704,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,6,10,a,None,None,None,None
2353,666033412701032449,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,9,10,a,None,None,None,None
2354,666029285002620928,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,7,10,a,None,None,None,None
2355,666020888022790149,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,8,10,None,None,None,None,None

In [229]:
# replaces na with value
tae.fillna('hello')
tae.fillna(0)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,0.0,0.0,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0.0,0.0,0,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,0.0,0.0,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0.0,0.0,0,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,0.0,0.0,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,0.0,0.0,0,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,0.0,0.0,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,0.0,0.0,0,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,0.0,0.0,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,0.0,0.0,0,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,0.0,0.0,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,0.0,0.0,0,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,0.0,0.0,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,0.0,0.0,0,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,0.0,0.0,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,0.0,0.0,0,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,0.0,0.0,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,0.0,0.0,0,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,0.0,0.0,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,0.0,0.0,0,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [230]:
tae.fillna(method='ffill', axis=0) # use previous known value in column
tae.fillna(method='ffill', axis=1) # use previous known value in row
tae.fillna(method='backfill', axis=0) # use next known value in column
tae.fillna(method='backfill', axis=1) # use next known value in row
tae.interpolate(method='linear', axis=0) # use previous known value in column

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,6.670655e+17,4.196984e+09,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,6.675484e+17,4.296832e+09,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,6.670655e+17,4.196984e+09,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,6.675484e+17,4.296832e+09,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,6.670655e+17,4.196984e+09,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,6.675484e+17,4.296832e+09,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,6.670655e+17,4.196984e+09,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,6.675484e+17,4.296832e+09,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,6.670655e+17,4.196984e+09,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,6.675484e+17,4.296832e+09,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Handle duplicates

In [231]:
tae.drop_duplicates()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Change data types

In [232]:
tae.tweet_id = tae.tweet_id.astype(float)

### Create dataframe

In [233]:
# create dataframe from list (column names need to match)
# df = pd.DataFrame(list, columns=['xyz', 'xyz'])

### Sort values

In [234]:
tae.sort_values('tweet_id', ascending=True)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2355,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None
2354,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2353,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2352,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2351,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [235]:
tae.sort_index()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Access rows

In [236]:
tae.iloc[1224:1225]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1224,7.142141e+17,NaN,NaN,2016-03-27 22:14:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! 🐇🐶 13/10 for all ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None

In [237]:
# difference between loc (index) and iloc (new "index")
tae.loc[0:4]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [238]:
tae.index

RangeIndex(start=0, stop=2356, step=1)

### Create rows

In [239]:
# new_row = pd.DataFrame({'tweet_id':1, 'rating_numerator':15, 'rating':3, 'rating_calc':4}, index=['11'])

In [240]:
# df.append(new_row)

### Drop rows

In [241]:
tae.drop([9], axis=0, inplace=True)

In [1]:
tae.drop(index=9)

NameError: name 'tae' is not defined

In [ ]:
# df.drop(df[df.score < 50].index, inplace=True)
# df.drop(df[df.score < 50].index)
# df = df.drop(df[(df.score < 50) & (df.score > 20)].index)
# df = df.drop(df[df.score < 50].index)

### Rename rows / reset index

In [242]:
# moves index to column
longer_tae = tae.reset_index()
longer_tae = tae.reset_index(drop=True, inplace=True)
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [243]:
tae.rename(index={1:1}, inplace=True)
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [244]:
longer_tae = tae.set_index('tweet_id')
longer_tae

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Access columns

In [245]:
tae[['tweet_id', 'timestamp']]

          tweet_id                  timestamp
0     8.924206e+17  2017-08-01 16:23:56 +0000
1     8.921774e+17  2017-08-01 00:17:27 +0000
2     8.918152e+17  2017-07-31 00:18:03 +0000
3     8.916896e+17  2017-07-30 15:58:51 +0000
4     8.913276e+17  2017-07-29 16:00:24 +0000
...            ...                        ...
2350  6.660492e+17  2015-11-16 00:24:50 +0000
2351  6.660442e+17  2015-11-16 00:04:52 +0000
2352  6.660334e+17  2015-11-15 23:21:54 +0000
2353  6.660293e+17  2015-11-15 23:05:30 +0000
2354  6.660209e+17  2015-11-15 22:32:08 +0000

[2355 rows x 2 columns]

In [246]:
tae.iloc[:, [1,3,5]]

,in_reply_to_status_id,timestamp,text
0,NaN,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...
1,NaN,2017-08-01 00:17:27 +0000,This is Tilly. She's just checking pup on you....
2,NaN,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncin...
3,NaN,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal...
4,NaN,2017-07-29 16:00:24 +0000,This is Franklin. He would like you to stop ca...
...,...,...,...
2350,NaN,2015-11-16 00:24:50 +0000,Here we have a 1949 1st generation vulpix. Enj...
2351,NaN,2015-11-16 00:04:52 +0000,This is a purebred Piers Morgan. Loves to Netf...
2352,NaN,2015-11-15 23:21:54 +0000,Here is a very happy pup. Big fan of well-main...
2353,NaN,2015-11-15 23:05:30 +0000,This is a western brown Mitsubishi terrier. Up...
2354,NaN,2015-11-15 22:32:08 +0000,Here we have a Japanese Irish Setter. Lost eye...

In [247]:
tae.loc[:, 'tweet_id':'timestamp']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000
...,...,...,...,...
2350,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000
2351,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000
2352,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000
2353,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000
2354,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000

In [248]:
columns = tae.columns
columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

### Drop columns

In [249]:
tae.drop(columns=['tweet_id']) # inplace=True
tae.drop(['rating_numerator'], axis=1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,10,Phineas,None,None,None,None
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,10,Tilly,None,None,None,None
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,10,Archie,None,None,None,None
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,10,Darla,None,None,None,None
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,10,None,None,None,None,None
2351,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,10,a,None,None,None,None
2352,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,10,a,None,None,None,None
2353,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,10,a,None,None,None,None
2354,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,10,None,None,None,None,None

### Create columns

In [250]:
tae['rating'] = tae['rating_denominator'] + tae['rating_numerator']

In [251]:
tae.rating_sum = tae.rating_numerator/2

<ipython-input-251-0e691c394311>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tae.rating_sum = tae.rating_numerator/2

In [252]:
# df.insert(2, 'rate', [3,3,3,3,3,3,3,3,3,3,3])

### Rename columns

In [253]:
tae = tae.rename(columns={'text':'test'})
# tae.rename(columns={'timestamp':'time'}, inplace=True)
# tae = tae.rename(columns={'rating_numerator':'rating', 'text':'test'})
tae.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,23
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,23
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,22
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,23
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,22

### Query data and build subsets

In [254]:
tae[['tweet_id', 'timestamp']].iloc[1224:1228]

          tweet_id                  timestamp
1224  7.141414e+17  2016-03-27 17:25:54 +0000
1225  7.139195e+17  2016-03-27 02:43:58 +0000
1226  7.139099e+17  2016-03-27 02:05:49 +0000
1227  7.139006e+17  2016-03-27 01:29:02 +0000

In [255]:
# logical condition
tae.loc[tae['tweet_id'] > 10, ['timestamp', 'test']]

,timestamp,test
0,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only eve...
1,2017-08-01 00:17:27 +0000,This is Tilly. She's just checking pup on you....
2,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncin...
3,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal...
4,2017-07-29 16:00:24 +0000,This is Franklin. He would like you to stop ca...
...,...,...
2350,2015-11-16 00:24:50 +0000,Here we have a 1949 1st generation vulpix. Enj...
2351,2015-11-16 00:04:52 +0000,This is a purebred Piers Morgan. Loves to Netf...
2352,2015-11-15 23:21:54 +0000,Here is a very happy pup. Big fan of well-main...
2353,2015-11-15 23:05:30 +0000,This is a western brown Mitsubishi terrier. Up...
2354,2015-11-15 22:32:08 +0000,Here we have a Japanese Irish Setter. Lost eye...

In [256]:
# build new dataframe
data = tae[['tweet_id', 'timestamp']].iloc[1224:1228]

In [257]:
# query dataframe
tae.query('tweet_id == 714214115368108032')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
1223,7.142141e+17,NaN,NaN,2016-03-27 22:14:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! 🐇🐶 13/10 for all ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None,23

In [258]:
tae.query('tweet_id <= 884162670584377345')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
42,8.841627e+17,NaN,NaN,2017-07-09 21:29:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Yogi. He doesn't have any important dog m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670...,12,10,Yogi,doggo,None,None,None,22
43,8.838381e+17,NaN,NaN,2017-07-09 00:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Noah. He can't believe someone made th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883838122...,12,10,Noah,None,None,None,None,22
44,8.834828e+17,NaN,NaN,2017-07-08 00:28:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bella. She hopes her smile made you sm...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883482846...,5,10,Bella,None,None,None,None,15
45,8.833607e+17,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Grizzwald. He may be the floofiest floofe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883360690...,13,10,Grizzwald,None,floofer,None,None,23
46,8.831178e+17,NaN,NaN,2017-07-07 00:17:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please only send dogs. We don't rate mechanics...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883117836...,13,10,None,None,None,None,None,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None,15
2351,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None,16
2352,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None,19
2353,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None,17
2354,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None,18

In [259]:
tae.query("name == 'Phineas'")

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,23
2103,6.706684e+17,NaN,NaN,2015-11-28 18:19:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a magical dog. Only appe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670668383...,10,10,Phineas,None,None,None,None,20

In [260]:
tae[tae.tweet_id > 890000070584377345]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,23
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,23
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,22
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,23
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,22
5,8.910880e+17,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None,23
6,8.909719e+17,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None,23
7,8.907292e+17,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None,23
8,8.906092e+17,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None,23
9,8.900066e+17,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None,23

In [261]:
# select and order top entries
tae.nlargest(10, 'tweet_id')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,23
1,8.921774e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,23
2,8.918152e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,22
3,8.916896e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,23
4,8.913276e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,22
5,8.910880e+17,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None,23
6,8.909719e+17,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None,23
7,8.907292e+17,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None,23
8,8.906092e+17,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None,23
9,8.900066e+17,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None,23

In [262]:
# select and order bottom entries
tae.nsmallest(10, 'tweet_id')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
2354,6.660209e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None,18
2353,6.660293e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None,17
2352,6.660334e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None,19
2351,6.660442e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None,16
2350,6.660492e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None,15
2349,6.660508e+17,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None,20
2348,6.660519e+17,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None,12
2347,6.660555e+17,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None,20
2346,6.660571e+17,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None,19
2345,6.660586e+17,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None,18

### Reshaping data

#### Melt

In [263]:
short_df = tae.query('tweet_id >= 890000070584377345')[['tweet_id', 'rating_numerator']]
short_df

       tweet_id  rating_numerator
0  8.924206e+17                13
1  8.921774e+17                13
2  8.918152e+17                12
3  8.916896e+17                13
4  8.913276e+17                12
5  8.910880e+17                13
6  8.909719e+17                13
7  8.907292e+17                13
8  8.906092e+17                13
9  8.900066e+17                13

In [264]:
melt_df = pd.melt(short_df)
melt_df

            variable         value
0           tweet_id  8.924206e+17
1           tweet_id  8.921774e+17
2           tweet_id  8.918152e+17
3           tweet_id  8.916896e+17
4           tweet_id  8.913276e+17
5           tweet_id  8.910880e+17
6           tweet_id  8.909719e+17
7           tweet_id  8.907292e+17
8           tweet_id  8.906092e+17
9           tweet_id  8.900066e+17
10  rating_numerator  1.300000e+01
11  rating_numerator  1.300000e+01
12  rating_numerator  1.200000e+01
13  rating_numerator  1.300000e+01
14  rating_numerator  1.200000e+01
15  rating_numerator  1.300000e+01
16  rating_numerator  1.300000e+01
17  rating_numerator  1.300000e+01
18  rating_numerator  1.300000e+01
19  rating_numerator  1.300000e+01

#### Concat

In [265]:
short_df_1 = short_df.iloc[0:5]
short_df_1

       tweet_id  rating_numerator
0  8.924206e+17                13
1  8.921774e+17                13
2  8.918152e+17                12
3  8.916896e+17                13
4  8.913276e+17                12

In [266]:
short_df_2 = short_df.iloc[5:11]
short_df_2

       tweet_id  rating_numerator
5  8.910880e+17                13
6  8.909719e+17                13
7  8.907292e+17                13
8  8.906092e+17                13
9  8.900066e+17                13

In [267]:
concat_df = pd.concat([short_df_2, short_df_1])
concat_df

       tweet_id  rating_numerator
5  8.910880e+17                13
6  8.909719e+17                13
7  8.907292e+17                13
8  8.906092e+17                13
9  8.900066e+17                13
0  8.924206e+17                13
1  8.921774e+17                13
2  8.918152e+17                12
3  8.916896e+17                13
4  8.913276e+17                12

In [268]:
small_df_1 = short_df['tweet_id']
small_df_2 = short_df['rating_numerator']

In [269]:
concat_df_sideways = pd.concat([small_df_2, small_df_1], axis=1)
concat_df_sideways

   rating_numerator      tweet_id
0                13  8.924206e+17
1                13  8.921774e+17
2                12  8.918152e+17
3                13  8.916896e+17
4                12  8.913276e+17
5                13  8.910880e+17
6                13  8.909719e+17
7                13  8.907292e+17
8                13  8.906092e+17
9                13  8.900066e+17

#### Merge

In [270]:
pd.merge(short_df_1, short_df_2, how='outer')

       tweet_id  rating_numerator
0  8.924206e+17                13
1  8.921774e+17                13
2  8.918152e+17                12
3  8.916896e+17                13
4  8.913276e+17                12
5  8.910880e+17                13
6  8.909719e+17                13
7  8.907292e+17                13
8  8.906092e+17                13
9  8.900066e+17                13

In [271]:
pd.merge(short_df_1, short_df_2, how='left', on='tweet_id')

       tweet_id  rating_numerator_x  rating_numerator_y
0  8.924206e+17                  13                 NaN
1  8.921774e+17                  13                 NaN
2  8.918152e+17                  12                 NaN
3  8.916896e+17                  13                 NaN
4  8.913276e+17                  12                 NaN

In [272]:
pd.merge(short_df_1, short_df_2, how='right', on='tweet_id')

       tweet_id  rating_numerator_x  rating_numerator_y
0  8.910880e+17                 NaN                  13
1  8.909719e+17                 NaN                  13
2  8.907292e+17                 NaN                  13
3  8.906092e+17                 NaN                  13
4  8.900066e+17                 NaN                  13

In [273]:
pd.merge(short_df_1, short_df_2, how='outer', on='tweet_id')

       tweet_id  rating_numerator_x  rating_numerator_y
0  8.924206e+17                13.0                 NaN
1  8.921774e+17                13.0                 NaN
2  8.918152e+17                12.0                 NaN
3  8.916896e+17                13.0                 NaN
4  8.913276e+17                12.0                 NaN
5  8.910880e+17                 NaN                13.0
6  8.909719e+17                 NaN                13.0
7  8.907292e+17                 NaN                13.0
8  8.906092e+17                 NaN                13.0
9  8.900066e+17                 NaN                13.0

In [274]:
pd.merge(short_df_1, short_df_2, how='inner', on='tweet_id')

Empty DataFrame
Columns: [tweet_id, rating_numerator_x, rating_numerator_y]
Index: []

#### Pivot

In [275]:
short_df.pivot(columns='rating_numerator', values='tweet_id')

rating_numerator            12            13
0                          NaN  8.924206e+17
1                          NaN  8.921774e+17
2                 8.918152e+17           NaN
3                          NaN  8.916896e+17
4                 8.913276e+17           NaN
5                          NaN  8.910880e+17
6                          NaN  8.909719e+17
7                          NaN  8.907292e+17
8                          NaN  8.906092e+17
9                          NaN  8.900066e+17

### Example

In [276]:
dog_columns = ['doggo', 'floofer', 'pupper', 'puppo']

for column in dog_columns:
    tae[column] = tae[column].str.replace('None','')

In [277]:
new_dog = tae[['doggo', 'floofer', 'pupper', 'puppo']]
new_dog

     doggo floofer pupper puppo
0
1
2
3
4
...    ...     ...    ...   ...
2350
2351
2352
2353
2354

[2355 rows x 4 columns]

In [278]:
new_dog['new_column'] = new_dog['doggo'] + new_dog['floofer'] + new_dog['pupper'] + new_dog['puppo']

<ipython-input-278-eecb94a07185>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['doggo'] + new_dog['floofer'] + new_dog['pupper'] + new_dog['puppo']

In [279]:
new_dog['new_column'] = new_dog['new_column'].str.replace('doggopupper','undecided')
new_dog['new_column'] = new_dog['new_column'].str.replace('doggopuppo','undecided')
new_dog['new_column'] = new_dog['new_column'].str.replace('doggofloofer','undecided')

<ipython-input-279-bbab528c1e30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggopupper','undecided')
<ipython-input-279-bbab528c1e30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggopuppo','undecided')
<ipython-input-279-bbab528c1e30>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dog['new_column'] = new_dog['new_column'].str.replace('doggofloofer','undecided')

### Describe data

In [280]:
tae.tweet_id.max()

8.924206435553362e+17

In [281]:
tae.corr()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator,rating
tweet_id,1.000000,0.940568,0.135083,0.744733,0.144644,0.049528,-0.028239,0.043952
in_reply_to_status_id,0.940568,1.000000,0.136589,NaN,NaN,0.265525,-0.109931,0.252998
in_reply_to_user_id,0.135083,0.136589,1.000000,NaN,NaN,-0.034593,-0.019973,-0.036332
retweeted_status_id,0.744733,NaN,NaN,1.000000,0.168284,0.171930,-0.037949,0.171461
retweeted_status_user_id,0.144644,NaN,NaN,0.168284,1.000000,0.016674,-0.009668,0.016539
rating_numerator,0.049528,0.265525,-0.034593,0.171930,0.016674,1.000000,0.150388,0.990039
rating_denominator,-0.028239,-0.109931,-0.019973,-0.037949,-0.009668,0.150388,1.000000,0.288085
rating,0.043952,0.252998,-0.036332,0.171461,0.016539,0.990039,0.288085,1.000000

### Group by

In [282]:
tae.groupby(['rating_numerator', 'source'])['rating_denominator'].mean()

rating_numerator  source
0                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
1                 <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                      10.0
                  <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>       9.0
2                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
3                 <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
                                                                                                         ...
204               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     170.0
420               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
666               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>      10.0
960               <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>       0.0
1776              <a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>     10.0
Name: rating_denominator, Length: 63, dtype: float64

In [283]:
tae.groupby(['rating_numerator'])['rating_denominator'].cummax()
# / .size / .value_counts / .rank(method='dense' or 'min' or 'first' or 'pct=True') (ranks with no gaps) 
# / .cumsum (cumulative sum) / .cummax / .cummin / .cumprod

0       10
1       10
2       10
3       10
4       10
        ..
2350    10
2351    10
2352    11
2353    11
2354    10
Name: rating_denominator, Length: 2355, dtype: int64

In [284]:
tae.groupby('rating_denominator')['rating_numerator'].mean() 
#/ .sum / .count / .median / .quantile([0.25,0.75]) / .min / .max / .mean / .var / .std
#/ .apply(function) - apply function to each object

rating_denominator
0      960.000000
2        1.000000
7       24.000000
10      12.236707
11       8.333333
15      11.000000
16      20.000000
20       4.000000
40      44.000000
50      51.666667
70      84.000000
80      84.000000
90      99.000000
110    121.000000
120    144.000000
130    143.000000
150    165.000000
170    204.000000
Name: rating_numerator, dtype: float64

## List

In [285]:
new_list = [1, 5, 3]

### Create list (from dataframe)

In [286]:
tweet_id_list = tae.tweet_id.tolist()
tweet_id_list

[8.924206435553362e+17,
 8.921774213063434e+17,
 8.918151813780849e+17,
 8.916895572798587e+17,
 8.913275589266883e+17,
 8.910879508758979e+17,
 8.909719131739914e+17,
 8.907291814112379e+17,
 8.906091851503124e+17,
 8.900066081131725e+17,
 8.898808964798669e+17,
 8.896653883336827e+17,
 8.896388375799071e+17,
 8.895311353442099e+17,
 8.892788419816858e+17,
 8.889172381238313e+17,
 8.888049891996713e+17,
 8.885549627242783e+17,
 8.882025155730883e+17,
 8.880784344585871e+17,
 8.877052893818266e+17,
 8.875171391580938e+17,
 8.874739571039519e+17,
 8.873432170453688e+17,
 8.871013928040858e+17,
 8.869832335225446e+17,
 8.867368805193196e+17,
 8.866803364779336e+17,
 8.863661447344456e+17,
 8.862670092850176e+17,
 8.862583841518879e+17,
 8.860541600590725e+17,
 8.859848000199475e+17,
 8.855289432054702e+17,
 8.855189715287204e+17,
 8.853115929126093e+17,
 8.851676198836388e+17,
 8.849255217417093e+17,
 8.848767533904896e+17,
 8.845628921456886e+17,
 8.844418053827174e+17,
 8.842478788514939e+17,
 8.841626705843773e+17,
 8.838381229366313e+17,
 8.834828469330043e+17,
 8.833606908992184e+17,
 8.831178360460861e+17,
 8.829920803642204e+17,
 8.827626945117348e+17,
 8.826272703216026e+17,
 8.822681101993697e+17,
 8.820458700359188e+17,
 8.81906580714922e+17,
 8.816665953445356e+17,
 8.81633300179243e+17,
 8.815360043808727e+17,
 8.812684441964626e+17,
 8.809357628999885e+17,
 8.808724488157716e+17,
 8.804658323668132e+17,
 8.80221127280382e+17,
 8.800957828708966e+17,
 8.798624647159276e+17,
 8.79674319642796e+17,
 8.794920405176156e+17,
 8.794158184251843e+17,
 8.793764925678551e+17,
 8.791305795764756e+17,
 8.790507492626555e+17,
 8.790082295310295e+17,
 8.787760934230876e+17,
 8.786047072117268e+17,
 8.78404777348137e+17,
 8.78316110768087e+17,
 8.782815110064783e+17,
 8.780576130401157e+17,
 8.777364723291914e+17,
 8.776111728322273e+17,
 8.775562467312148e+17,
 8.77316821321429e+17,
 8.772018374259261e+17,
 8.768381206285394e+17,
 8.765376660612219e+17,
 8.764840539098726e+17,
 8.761202751961702e+17,
 8.757477678675231e+17,
 8.751442898561147e+17,
 8.750971926120776e+17,
 8.750212112515973e+17,
 8.746800970551788e+17,
 8.744348182595256e+17,
 8.742967835806638e+17,
 8.740575629368115e+17,
 8.740129962925302e+17,
 8.736975964345139e+17,
 8.73580283840344e+17,
 8.733377486981407e+17,
 8.732137756329779e+17,
 8.729671041477632e+17,
 8.728206835412378e+17,
 8.72668790621864e+17,
 8.726208048440033e+17,
 8.724869791617966e+17,
 8.722617132944957e+17,
 8.721227242856489e+17,
 8.718797546848051e+17,
 8.717625216314491e+17,
 8.715159279086346e+17,
 8.711661798214451e+17,
 8.711025206382674e+17,
 8.710326289206804e+17,
 8.708043173678817e+17,
 8.707263143655096e+17,
 8.706563178364682e+17,
 8.703740492806636e+17,
 8.703089999625216e+17,
 8.700631964591923e+17,
 8.699887020717793e+17,
 8.697724208817562e+17,
 8.697029578975764e+17,
 8.69596645499048e+17,
 8.692279934110515e+17,
 8.688803978194944e+17,
 8.68639477480149e+17,
 8.686224954436321e+17,
 8.685522785248379e+17,
 8.679004954106716e+17,
 8.677749463024517e+17,
 8.674210068262216e+17,
 8.670726534750986e+17,
 8.670515209021686e+17,
 8.668162802838077e+17,
 8.667206848730563e+17,
 8.666868248270684e+17,
 8.664507055314575e+17,
 8.663349647612027e+17,
 8.660945275972076e+17,
 8.657181538584945e+17,
 8.653593938686648e+17,
 8.650067310922957e+17,
 8.648732064984146e+17,
 8.642795686639288e+17,
 8.641973983646474e+17,
 8.639074173771735e+17,
 8.63553081350529e+17,
 8.634717827826975e+17,
 8.634321003425833e+17,
 8.634275150833541e+17,
 8.630795471887852e+17,
 8.630624715311677e+17,
 8.628313715632742e+17,
 8.627225253772984e+17,
 8.624575901476782e+17,
 8.620969920880722e+17,
 8.617699731816243e+17,
 8.613838976570368e+17,
 8.61288531465048e+17,
 8.610051137788969e+17,
 8.609816747164099e+17,
 8.609240359994286e+17,
 8.605637731402097e+17,
 8.605245051643945e+17,
 8.602765831935099e+17,
 8.601848493946102e+17,
 8.601775931397038e+17,
 8.599245260120187e+17,
 8.598515781986836e+17,
 8.596078115416515e+17,
 8.591969789027738e+17,
 8.590746030371881e+17,
 8.588603904276111e+17,
 8.588435254709903e+17,
 8.584716350111539e+17,
 8.5810793345604e+17,
 8.579899903573565e+17,
 8.577464080567296e+17,
 8.573934049421435e+17,
 8.572631603273687e+17,
 8.572148918910771e+17,
 8.570621030516449e+17,
 8.570298237970473e+17,
 8.566029935878881e+17,
 8.565438239415624e+17,
 8.56526610513748e+17,
 8.563308352760259e+17,
 8.562880843501609e+17,
 8.562820282406666e+17,
 8.55862651834028e+17,
 8.558601361491231e+17,
 8.558576985246024e+17,
 8.55851453814014e+17,
 8.55818117272019e+17,
 8.5545945376802e+17,
 8.552453238407578e+17,
 8.551382418671247e+17,
 8.547327164405268e+17,
 8.544823940443013e+17,
 8.543652243963617e+17,
 8.541203570449121e+17,
 8.540101725529498e+17,
 8.537608808903188e+17,
 8.536391476088422e+17,
 8.532999585644831e+17,
 8.529364055169434e+17,
 8.529122422029926e+17,
 8.526726158188995e+17,
 8.525534478786642e+17,
 8.523113647355699e+17,
 8.522260867590185e+17,
 8.52189679701164e+17,
 8.519539026226586e+17,
 8.518613850217308e+17,
 8.51591660324737e+17,
 8.514648197357691e+17,
 8.512248880608952e+17,
 8.507536429950935e+17,
 8.503801957145231e+17,
 8.503335677040681e+17,
 8.501456228166861e+17,
 8.500197909955461e+17,
 8.497769665511301e+17,
 8.496680946960179e+17,
 8.494123028855931e+17,
 8.493365432695767e+17,
 8.490519198050345e+17,
 8.486905519269929e+17,
 8.483249590595502e+17,
 8.482136700395643e+17,
 8.482121117298401e+17,
 8.479788654273946e+17,
 8.479715744646103e+17,
 8.479627854893261e+17,
 8.478428114289746e+17,
 8.476172824906138e+17,
 8.476061755961385e+17,
 8.472510392626053e+17,
 8.471572060888474e+17,
 8.47116187444138e+17,
 8.468748173621207e+17,
 8.465140516477051e+17,
 8.465059853300449e+17,
 8.46153765933736e+17,
 8.461397136270172e+17,
 8.460429364376044e+17,
 8.458120427538555e+17,
 8.45677943972139e+17,
 8.454590767966167e+17,
 8.453970571501076e+17,
 8.453068829401907e+17,
 8.450983595474207e+17,
 8.449795448640184e+17,
 8.449738139096064e+17,
 8.44704788403114e+17,
 8.445805116453396e+17,
 8.442237884222177e+17,
 8.439810210120172e+17,
 8.438568438730957e+17,
 8.436043941176812e+17,
 8.43235543001514e+17,
 8.428922088649236e+17,
 8.428462954800005e+17,
 8.427653119674491e+17,
 8.425355904574996e+17,
 8.421635325903749e+17,
 8.421152153113969e+17,
 8.418339930205389e+17,
 8.416805850305413e+17,
 8.414398587406254e+17,
 8.41320156043305e+17,
 8.413146651960812e+17,
 8.41077006473257e+17,
 8.407612482371338e+17,
 8.407288730756383e+17,
 8.406986369756365e+17,
 8.406966892583117e+17,
 8.406323370628628e+17,
 8.40370681858687e+17,
 8.4026800493602e+17,
 8.39990271299457e+17,
 8.395493263596708e+17,
 8.392906005119263e+17,
 8.392398718311506e+17,
 8.389529946495508e+17,
 8.389215900961669e+17,
 8.389164895792005e+17,
 8.388319472709796e+17,
 8.385614930545336e+17,
 8.384763873380516e+17,
 8.382015036514017e+17,
 8.381502775512474e+17,
 8.380858393432064e+17,
 8.380839034873733e+17,
 8.378201676945285e+17,
 8.374822493565133e+17,
 8.37471256429613e+17,
 8.373662848745718e+17,
 8.371102104644485e+17,
 8.370125877494743e+17,
 8.369899680358195e+17,
 8.36753516572119e+17,
 8.366777589022228e+17,
 8.366488539275223e+17,
 8.363977942692004e+17,
 8.363804775231242e+17,
 8.362600887257866e+17,
 8.36001077879255e+17,
 8.35685285446955e+17,
 8.355745472188948e+17,
 8.35536468978303e+17,
 8.353090942233723e+17,
 8.352979302402171e+17,
 8.35264098648617e+17,
 8.352464395298406e+17,
 8.351727831517921e+17,
 8.351524342511165e+17,
 8.349316337698898e+17,
 8.34786237630337e+17,
 8.34574053763584e+17,
 8.344778091920753e+17,
 8.344580532735918e+17,
 8.342097209237217e+17,
 8.341673447001989e+17,
 8.340899667246039e+17,
 8.340863793238712e+17,
 8.338630860586516e+17,
 8.338261034165207e+17,
 8.337323395492209e+17,
 8.337229017570468e+17,
 8.334796449470259e+17,
 8.331246945974436e+17,
 8.329981511119667e+17,
 8.327691813469962e+17,
 8.32757312314028e+17,
 8.326824576903004e+17,
 8.326455250191237e+17,
 8.326360946382889e+17,
 8.323975433550725e+17,
 8.323698773316936e+17,
 8.322734402792407e+17,
 8.322159091462267e+17,
 8.322157266310554e+17,
 8.320885765862973e+17,
 8.320404434037842e+17,
 8.32032802820481e+17,
 8.31939777352106e+17,
 8.319269883236393e+17,
 8.319116006804972e+17,
 8.316704492265144e+17,
 8.316500515250545e+17,
 8.31552930092286e+17,
 8.313227855657697e+17,
 8.313159791919063e+17,
 8.313094180840694e+17,
 8.312626273807483e+17,
 8.309561691706655e+17,
 8.305833205850685e+17,
 8.301732392593244e+17,
 8.300974003751526e+17,
 8.298789820362998e+17,
 8.298613961668772e+17,
 8.295019951909847e+17,
 8.294499468688794e+17,
 8.29374341691347e+17,
 8.29141528400556e+17,
 8.290119609812378e+17,
 8.288015510870426e+17,
 8.287703457085809e+17,
 8.287087149369303e+17,
 8.286500296363172e+17,
 8.28409743546925e+17,
 8.284086770318828e+17,
 8.283816369999176e+17,
 8.283765051808891e+17,
 8.283726459933983e+17,
 8.283617715808133e+17,
 8.280465555633234e+17,
 8.280116800178217e+17,
 8.279334041424364e+17,
 8.276539053120061e+17,
 8.276005203114025e+17,
 8.273249488846438e+17,
 8.27228250799743e+17,
 8.271999767993549e+17,
 8.269586533285929e+17,
 8.268488210491802e+17,
 8.26615380357632e+17,
 8.265987998208655e+17,
 8.265983652700078e+17,
 8.264767735337452e+17,
 8.262404940700303e+17,
 8.26204788643754e+17,
 8.261152722726502e+17,
 8.25876512159187e+17,
 8.258296445281485e+17,
 8.255350768847626e+17,
 8.251475916922634e+17,
 8.25120256414847e+17,
 8.250265907194839e+17,
 8.24796380199809e+17,
 8.247751266758369e+17,
 8.246639263401943e+17,
 8.24325613288833e+17,
 8.242970482792366e+17,
 8.240251587762135e+17,
 8.239396285164749e+17,
 8.237190029376307e+17,
 8.2369900299887e+17,
 8.235811156340859e+17,
 8.233334895169372e+17,
 8.233226781279191e+17,
 8.232695942238249e+17,
 8.229753154084618e+17,
 8.228729017455698e+17,
 8.228591341606216e+17,
 8.226472129036902e+17,
 8.226103619459113e+17,
 8.224890570873897e+17,
 8.224629443656458e+17,
 8.222448165201551e+17,
 8.221630647453286e+17,
 8.218860764070298e+17,
 8.218136392126505e+17,
 8.21765923262632e+17,
 8.215228897028628e+17,
 8.214213202064835e+17,
 8.214071823527772e+17,
 8.21153421864616e+17,
 8.211495546701824e+17,
 8.211077858112348e+17,
 8.210445318817219e+17,
 8.208373579015127e+17,
 8.207497168456868e+17,
 8.206901766451405e+17,
 8.204947885668475e+17,
 8.20446719150293e+17,
 8.203146337770619e+17,
 8.200786253954499e+17,
 8.20013781606658e+17,
 8.199522364533637e+17,
 8.199241953584169e+17,
 8.197113621338726e+17,
 8.195883593833718e+17,
 8.193471042922906e+17,
 8.192381810653594e+17,
 8.192276884602388e+17,
 8.190153375302902e+17,
 8.19015331746349e+17,
 8.19006400881918e+17,
 8.190048031079834e+17,
 8.186461648997745e+17,
 8.186272104583332e+17,
 8.186144933285806e+17,
 8.185888350766039e+17,
 8.18536468981416e+17,
 8.183075235434496e+17,
 8.182594731858289e+17,
 8.181453704758108e+17,
 8.179089118607483e+17,
 8.178278394877379e+17,
 8.177776867645235e+17,
 8.175364003378012e+17,
 8.175024324523131e+17,
 8.174238601360835e+17,
 8.174155925882225e+17,
 8.171818375796531e+17,
 8.171712929652736e+17,
 8.171209703434117e+17,
 8.170565465847276e+17,
 8.168290389500273e+17,
 8.168166763270636e+17,
 8.16697700272001e+17,
 8.164505708148982e+17,
 8.163367352149115e+17,
 8.1609191547725e+17,
 8.160624664258191e+17,
 8.160142860069765e+17,
 8.159907208174019e+17,
 8.159660734094336e+17,
 8.157459684570604e+17,
 8.157363925422612e+17,
 8.156393855301018e+17,
 8.15390420867969e+17,
 8.149864999765279e+17,
 8.146385233116488e+17,
 8.145784085544632e+17,
 8.145301612574433e+17,
 8.141530022653092e+17,
 8.139446093783695e+17,
 8.139104389036933e+17,
 8.138127419117486e+17,
 8.138006816310231e+17,
 8.132178975354061e+17,
 8.132027204967793e+17,
 8.13187593374462e+17,
 8.13172488309973e+17,
 8.131574091160658e+17,
 8.131422925046456e+17,
 8.131303666891489e+17,
 8.13127251579564e+17,
 8.131121057464484e+17,
 8.130969848233492e+17,
 8.13081950185472e+17,
 8.130668092849725e+17,
 8.130517468345958e+17,
 8.127811208111268e+17,
 8.127478057186427e+17,
 8.12709060537684e+17,
 8.12503143955202e+17,
 8.124668739966075e+17,
 8.123722795816714e+17,
 8.119856247733617e+17,
 8.11744202451198e+17,
 8.116476864368804e+17,
 8.116272330434806e+17,
 8.113867620943176e+17,
 8.109846524124242e+17,
 8.108960695676109e+17,
 8.106575782713303e+17,
 8.10284430598271e+17,
 8.102541084311552e+17,
 8.099207643004477e+17,
 8.09808892968534e+17,
 8.094487041429381e+17,
 8.09220051211604e+17,
 8.090847591378125e+17,
 8.088382496617882e+17,
 8.087335040664863e+17,
 8.085015794479309e+17,
 8.083448658682839e+17,
 8.081346357168333e+17,
 8.081064605887652e+17,
 8.080013121640284e+17,
 8.076214033359176e+17,
 8.071068405092147e+17,
 8.070593794051482e+17,
 8.070101520712294e+17,
 8.06629075125203e+17,
 8.066208452338156e+17,
 8.065764164899594e+17,
 8.065422138994893e+17,
 8.062428605929267e+17,
 8.062190247030374e+17,
 8.05958939288408e+17,
 8.059328794695721e+17,
 8.05826884734976e+17,
 8.058232005548769e+17,
 8.055206356906762e+17,
 8.054874364030034e+17,
 8.052076137513042e+17,
 8.047387560582185e+17,
 8.044758576706396e+17,
 8.044137603456205e+17,
 8.040262412255232e+17,
 8.037733408969236e+17,
 8.036922232378655e+17,
 8.036380509161021e+17,
 8.033806504054825e+17,
 8.033215607823073e+17,
 8.032765975456031e+17,
 8.029524991037317e+17,
 8.026247133190349e+17,
 8.02600418706604e+17,
 8.025726838462915e+17,
 8.023238690843812e+17,
 8.022650481566106e+17,
 8.022471114965688e+17,
 8.022393290494771e+17,
 8.021858081072087e+17,
 8.01958328846975e+17,
 8.018549532623503e+17,
 8.015382011271578e+17,
 8.012854486058312e+17,
 8.01167903437357e+17,
 8.011273901435167e+17,
 8.01115127852503e+17,
 8.008594148318986e+17,
 8.008556077000294e+17,
 8.007515773551288e+17,
 8.005133246308065e+17,
 8.004593169646633e+17,
 8.004438026829373e+17,
 8.003882706265211e+17,
 8.00188575492948e+17,
 8.001414224018309e+17,
 8.000182523951227e+17,
 7.997742914453832e+17,
 7.997579652890173e+17,
 7.99422933579903e+17,
 7.993087620790354e+17,
 7.992971107305677e+17,
 7.990634825660662e+17,
 7.989339693792256e+17,
 7.98925684722856e+17,
 7.987056611147735e+17,
 7.98701998996648e+17,
 7.986978986157302e+17,
 7.986945623949967e+17,
 7.986867501137551e+17,
 7.986825476308378e+17,
 7.986731174513254e+17,
 7.98665375516885e+17,
 7.986440427707515e+17,
 7.986285172736205e+17,
 7.985850981615493e+17,
 7.985769006880195e+17,
 7.983407445997978e+17,
 7.982098393065144e+17,
 7.979718647233249e+17,
 7.975451621593088e+17,
 7.972366606519665e+17,
 7.971659614848901e+17,
 7.969041598658683e+17,
 7.96865951799083e+17,
 7.96759840936919e+17,
 7.965634358027264e+17,
 7.964848255028756e+17,
 7.963874644033577e+17,
 7.961778475640381e+17,
 7.961497490868756e+17,
 7.961256006835405e+17,
 7.96116448414462e+17,
 7.960800758044754e+17,
 7.960314862983864e+17,
 7.954643310015611e+17,
 7.954002642620539e+17,
 7.950767302853919e+17,
 7.949837414164152e+17,
 7.949265974680003e+17,
 7.94355576146903e+17,
 7.943323291372913e+17,
 7.942052864080036e+17,
 7.93962221541933e+17,
 7.938451451123712e+17,
 7.936143195944018e+17,
 7.936017773084631e+17,
 7.935009214812733e+17,
 7.932864763017994e+17,
 7.932714011133501e+17,
 7.932562623225487e+17,
 7.932413023852626e+17,
 7.93226087023145e+17,
 7.932109590032876e+17,
 7.931959380470702e+17,
 7.931807636173619e+17,
 7.931656853252014e+17,
 7.931506051915489e+17,
 7.93135492858581e+17,
 7.93120401413079e+17,
 7.929133598050181e+17,
 7.92883833364439e+17,
 7.92773781206999e+17,
 7.923945563901379e+17,
 7.920500631534387e+17,
 7.918213519464202e+17,
 7.917840770451661e+17,
 7.917809278778982e+17,
 7.917749314659533e+17,
 7.916723228476375e+17,
 7.914069556843684e+17,
 7.913121591836344e+17,
 7.910262144252682e+17,
 7.909874261310505e+17,
 7.90946055508652e+17,
 7.907232982042173e+17,
 7.906987551713649e+17,
 7.905819494254756e+17,
 7.903375896770028e+17,
 7.902771173469757e+17,
 7.902276385688084e+17,
 7.899864660510884e+17,
 7.89960241177854e+17,
 7.899036000341893e+17,
 7.896286580550205e+17,
 7.895992420798382e+17,
 7.895308770133934e+17,
 7.89314372632019e+17,
 7.892807678347469e+17,
 7.892684487487037e+17,
 7.891379620680212e+17,
 7.889083869434307e+17,
 7.887659149929021e+17,
 7.885526439794688e+17,
 7.884121440186614e+17,
 7.881782686629847e+17,
 7.881505855770501e+17,
 7.880701209376195e+17,
 7.880396374534062e+17,
 7.878105525926953e+17,
 7.877176037416223e+17,
 7.87397959788929e+17,
 7.873224439458775e+17,
 7.871119424985088e+17,
 7.869630643735347e+17,
 7.867299886744494e+17,
 7.867090828498289e+17,
 7.866649550430495e+17,
 7.865959702933709e+17,
 7.863632357463859e+17,
 7.862864277682504e+17,
 7.862339652418273e+17,
 7.860513372975227e+17,
 7.860369675029135e+17,
 7.859278191760548e+17,
 7.85872687017132e+17,
 7.85639753186218e+17,
 7.85533386513322e+17,
 7.85515384317313e+17,
 7.852647542479954e+17,
 7.851709366223503e+17,
 7.848260202937098e+17,
 7.845175183712215e+17,
 7.844314304116859e+17,
 7.841831657956557e+17,
 7.840579396403528e+17,
 7.838399664052306e+17,
 7.838211070611988e+17,
 7.836951018013983e+17,
 7.834667721670984e+17,
 7.8339175372655e+17,
 7.833475067847311e+17,
 7.833346399853896e+17,
 7.830857039745147e+17,
 7.829691400091075e+17,
 7.827471345295319e+17,
 7.827225987907256e+17,
 7.825986401371873e+17,
 7.82305867769217e+17,
 7.820218238400266e+17,
 7.819552034446991e+17,
 7.81661882474197e+17,
 7.816552492117524e+17,
 7.815246933963571e+17,
 7.813080964550738e+17,
 7.812512889903555e+17,
 7.81163403222057e+17,
 7.809316141509837e+17,
 7.808582890935747e+17,
 7.808007854624891e+17,
 7.806013036177326e+17,
 7.805435298273362e+17,
 7.80496263422808e+17,
 7.804765550133494e+17,
 7.804593689029591e+17,
 7.801920708121969e+17,
 7.800920404324803e+17,
 7.800744363598193e+17,
 7.798343325968876e+17,
 7.793775243421614e+17,
 7.791243542065357e+17,
 7.791231681161503e+17,
 7.790560957887529e+17,
 7.789907052430295e+17,
 7.7877445915938e+17,
 7.78764940568105e+17,
 7.78748913645781e+17,
 7.786505430194831e+17,
 7.786249005966541e+17,
 7.78408200802558e+17,
 7.783965917324861e+17,
 7.783833851610358e+17,
 7.782868101873992e+17,
 7.780390878360699e+17,
 7.780270342201262e+17,
 7.779534005416346e+17,
 7.778850403572818e+17,
 7.776842335402066e+17,
 7.776419279194276e+17,
 7.776215144558141e+17,
 7.77189768882946e+17,
 7.768190125714555e+17,
 7.768130200895488e+17,
 7.764777889876132e+17,
 7.762499068393513e+17,
 7.762182040583578e+17,
 7.76201521193218e+17,
 7.761133056561889e+17,
 7.760883194448773e+17,
 7.758986619517911e+17,
 7.758427244235571e+17,
 7.75733305207554e+17,
 7.757291835322204e+17,
 7.753648254761656e+17,
 7.753508461084262e+17,
 7.750966085098865e+17,
 7.750851326004429e+17,
 7.747578982368788e+17,
 7.746393874601124e+17,
 7.74314403806253e+17,
 7.739857328347587e+17,
 7.739222849438966e+17,
 7.73704687002452e+17,
 7.736703537217536e+17,
 7.735475969965711e+17,
 7.73336787167146e+17,
 7.733088242540298e+17,
 7.732475615830016e+17,
 7.731916126335795e+17,
 7.728774959893053e+17,
 7.728262640968745e+17,
 7.726153242607944e+17,
 7.725815597780255e+17,
 7.721931079159644e+17,
 7.721529917890191e+17,
 7.721176787020718e+17,
 7.721149459369492e+17,
 7.721029710395802e+17,
 7.719089503756657e+17,
 7.717704565170094e+17,
 7.715009668100997e+17,
 7.713807980962816e+17,
 7.71171053431251e+17,
 7.7113664824764e+17,
 7.711021243609989e+17,
 7.710143013437481e+17,
 7.710043942592471e+17,
 7.707878528546529e+17,
 7.707727598740767e+17,
 7.70743923962708e+17,
 7.706551426601697e+17,
 7.70414278348247e+17,
 7.70293558247039e+17,
 7.700937677769974e+17,
 7.700691510376858e+17,
 7.69940425801171e+17,
 7.696954669216236e+17,
 7.693355918089953e+17,
 7.692122835788759e+17,
 7.689709370227098e+17,
 7.689097674777518e+17,
 7.688551419487232e+17,
 7.686095976869437e+17,
 7.685962916182999e+17,
 7.685541585217454e+17,
 7.684738570365256e+17,
 7.681934045178307e+17,
 7.678841888633979e+17,
 7.677549302664643e+17,
 7.675005080681923e+17,

### Append values

In [287]:
new_list.append(4)
new_list

[1, 5, 3, 4]

### Sort values

In [288]:
# temporarily
sorted(new_list)

[1, 3, 4, 5]

In [289]:
# permanently
new_list.sort()

In [290]:
# reverse
new_list.reverse()
new_list

[5, 4, 3, 1]

### Remove values

In [291]:
new_list.remove(1)

### Change values

In [292]:
new_list[1]='hello'
new_list

[5, 'hello', 3]

In [293]:
new_list[-2]='okay'
new_list

[5, 'okay', 3]

In [294]:
new_list[1]=3
new_list

[5, 3, 3]

## Dictonary

In [295]:
new_dict = {'joni': 31, 'anne': 33, 'zwörgü':0.5}

### Access values

In [296]:
for keys, values in new_dict_order.items(): 
    print (keys, values)

anne 33
joni 31
mini_zwörgü 0.1
zwörgü 0.5

In [297]:
new_dict.keys()

dict_keys(['joni', 'anne', 'zwörgü'])

In [298]:
new_dict.values()

dict_values([31, 33, 0.5])

In [299]:
new_dict.keys()

dict_keys(['joni', 'anne', 'zwörgü'])

In [300]:
new_dict.items()

dict_items([('joni', 31), ('anne', 33), ('zwörgü', 0.5)])

In [301]:
# access values for key
new_dict_details.get('anne')

{'age': 33, 'height': 165}

In [302]:
new_dict_details['anne']

{'age': 33, 'height': 165}

### Append values

In [303]:
mini_zwörgü = 0.1
new_dict['mini_zwörgü'] = mini_zwörgü
new_dict

{'joni': 31, 'anne': 33, 'zwörgü': 0.5, 'mini_zwörgü': 0.1}

In [304]:
mini_zwörgü = {'age': 0.1, 'height':0.1}
new_dict_details['mini_zwörgü'] = mini_zwörgü
new_dict_details

{'joni': {'age': 31, 'height': 185},
 'anne': {'age': 33, 'height': 165},
 'zwörgü': {'age': 0.5, 'height': 0.5},
 'mini_zwörgü': {'age': 0.1, 'height': 0.1}}

### Sort values

In [305]:
import collections

new_dict_order = collections.OrderedDict(sorted(new_dict.items()))
new_dict_order

OrderedDict([('anne', 33),
             ('joni', 31),
             ('mini_zwörgü', 0.1),
             ('zwörgü', 0.5)])

In [306]:
new_dict_details = {'joni': {'age': 31, 'height':185}, 'anne': {'age': 33, 'height':165}, 'zwörgü': {'age':0.5, 'height':0.5}}
new_dict_details

{'joni': {'age': 31, 'height': 185},
 'anne': {'age': 33, 'height': 165},
 'zwörgü': {'age': 0.5, 'height': 0.5}}

## Loops

#### For loops

In [307]:
long_columns = []

for column in columns:
    length = len(column)
    if length > 10:
        long_columns.append(column)

long_columns

['in_reply_to_status_id',
 'in_reply_to_user_id',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator']

In [308]:
id_columns = []

for column in columns:
    if 'id' in column:
        id_columns.append(column)  

id_columns

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'retweeted_status_id',
 'retweeted_status_user_id']

In [309]:
meet_list = []

for i in range(0, len(tae)):
    if 'meet' in tae.test.iloc[i]:
        meet = tae[['tweet_id', 'test']].iloc[i]
        meet_list.append(meet)

meet_list

[tweet_id                                 886680336477933568.0
 test        This is Derek. He's late for a dog meeting. 13...
 Name: 27, dtype: object,
 tweet_id                                 884162670584377344.0
 test        Meet Yogi. He doesn't have any important dog m...
 Name: 42, dtype: object,
 tweet_id                                 779123168116150272.0
 test        This is Reggie. He hugs everyone he meets. 12/...
 Name: 749, dtype: object,
 tweet_id                                 669353438988365824.0
 test        This is Tessa. She is also very pleased after ...
 Name: 2168, dtype: object,
 tweet_id                                 667806454573760512.0
 test        This is Filup. He is overcome with joy after f...
 Name: 2250, dtype: object]

In [310]:
meet_df = pd.DataFrame(meet_list, columns={'tweet_id', 'test'})

In [311]:
meet_df.index

Int64Index([27, 42, 749, 2168, 2250], dtype='int64')

In [312]:
text_list = []

for i in range (0, len(meet_df.index)):
    x = meet_df.index[i]
    text_list.append(tae.test.iloc[x])

In [313]:
for i in range(0, len(tae)):
    if 'meat' in tae.test.iloc[i]:
        print(tae.test.iloc[i])

"So... we meat again" (I'm so sorry for that pun I couldn't resist pls don't unfollow) 10/10 https://t.co/XFBrrqapZa

In [314]:
test_list = []

for i in range(0, len(tae)):
    if 'meet' in (tae.test.iloc[i]):
        test_list.append(tae.test.iloc[i])

test_list

["This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA",
 "Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ",
 'This is Reggie. He hugs everyone he meets. 12/10 keep spreading the love Reggie https://t.co/uMfhduaate',
 'This is Tessa. She is also very pleased after finally meeting her biological father. 10/10 https://t.co/qDS1aCqppv',
 'This is Filup. He is overcome with joy after finally meeting his father. 10/10 https://t.co/TBmDJXJB75']

In [315]:
# delete certain text in rows
for i in range(0, len(tae)):
    tae.timestamp[i] = tae.timestamp[i][11:19]

<ipython-input-315-2f54d37b0fd3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.timestamp[i] = tae.timestamp[i][11:19]

#### If statements

In [316]:
'9' in tae.tweet_id[0].astype(str)

True

In [317]:
tweet_id_list_8 = []
tweet_id_list_9 = []

for i in range(0, len(tae)):
    if '9' in tae.tweet_id[i].astype(str):
        tweet_id_list_9.append(tae.tweet_id[i])
    elif '8' in tae.tweet_id[i].astype(str):
        tweet_id_list_8.append(tae.tweet_id[i])
    else:
        print('Unrecognizeable')

Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable
Unrecognizeable

In [318]:
text_length = []

for i in range (0, len(tae)):
    x = len(tae.test[i].split(' '))
    text_length.append(x)

text_length

[18,
 26,
 24,
 17,
 27,
 20,
 23,
 26,
 24,
 20,
 22,
 21,
 18,
 19,
 23,
 20,
 29,
 13,
 19,
 25,
 23,
 19,
 17,
 17,
 23,
 20,
 19,
 15,
 20,
 17,
 17,
 5,
 25,
 19,
 12,
 20,
 21,
 19,
 22,
 14,
 24,
 20,
 25,
 27,
 22,
 26,
 21,
 20,
 20,
 23,
 21,
 27,
 11,
 19,
 15,
 19,
 24,
 13,
 23,
 20,
 19,
 21,
 16,
 3,
 17,
 16,
 24,
 24,
 23,
 18,
 19,
 9,
 23,
 21,
 22,
 22,
 18,
 17,
 24,
 26,
 23,
 21,
 23,
 25,
 22,
 24,
 25,
 17,
 22,
 18,
 25,
 23,
 25,
 27,
 19,
 23,
 23,
 22,
 28,
 22,
 22,
 19,
 25,
 26,
 24,
 22,
 26,
 26,
 24,
 6,
 23,
 28,
 7,
 23,
 25,
 24,
 24,
 25,
 19,
 26,
 26,
 22,
 17,
 22,
 18,
 21,
 21,
 11,
 26,
 10,
 26,
 24,
 11,
 24,
 22,
 23,
 23,
 27,
 22,
 23,
 20,
 24,
 20,
 22,
 16,
 24,
 23,
 24,
 27,
 23,
 21,
 25,
 25,
 17,
 19,
 13,
 23,
 15,
 23,
 8,
 22,
 19,
 26,
 27,
 9,
 27,
 24,
 29,
 24,
 27,
 25,
 26,
 18,
 27,
 27,
 26,
 23,
 24,
 4,
 23,
 17,
 25,
 25,
 25,
 18,
 27,
 22,
 15,
 24,
 20,
 21,
 25,
 25,
 22,
 22,
 21,
 18,
 21,
 28,
 27,
 23,
 21,
 23,
 23,
 22,
 22,
 22,
 24,
 25,
 28,
 16,
 12,
 26,
 28,
 25,
 28,
 24,
 22,
 21,
 17,
 22,
 24,
 21,
 27,
 22,
 21,
 25,
 24,
 24,
 21,
 11,
 23,
 22,
 13,
 19,
 19,
 20,
 20,
 26,
 25,
 16,
 18,
 23,
 17,
 22,
 20,
 21,
 22,
 15,
 25,
 23,
 20,
 27,
 25,
 27,
 12,
 27,
 22,
 23,
 16,
 18,
 25,
 20,
 23,
 23,
 13,
 26,
 21,
 14,
 23,
 22,
 22,
 25,
 8,
 18,
 21,
 21,
 21,
 19,
 25,
 13,
 11,
 8,
 19,
 12,
 28,
 27,
 25,
 24,
 2,
 10,
 21,
 21,
 25,
 24,
 20,
 15,
 11,
 23,
 28,
 23,
 18,
 24,
 24,
 22,
 24,
 24,
 20,
 22,
 13,
 23,
 21,
 17,
 23,
 17,
 24,
 26,
 17,
 28,
 24,
 22,
 25,
 12,
 20,
 19,
 27,
 24,
 26,
 11,
 22,
 27,
 11,
 22,
 7,
 18,
 19,
 25,
 19,
 24,
 23,
 16,
 5,
 22,
 21,
 24,
 4,
 27,
 14,
 22,
 23,
 23,
 26,
 28,
 22,
 12,
 18,
 21,
 21,
 17,
 23,
 28,
 21,
 14,
 23,
 24,
 29,
 25,
 23,
 14,
 14,
 28,
 22,
 24,
 25,
 10,
 26,
 21,
 28,
 25,
 23,
 25,
 24,
 25,
 15,
 29,
 22,
 14,
 15,
 23,
 21,
 18,
 13,
 22,
 21,
 20,
 22,
 23,
 22,
 19,
 21,
 19,
 10,
 17,
 9,
 13,
 16,
 24,
 18,
 2,
 21,
 20,
 24,
 14,
 25,
 18,
 21,
 16,
 29,
 18,
 22,
 12,
 20,
 16,
 25,
 25,
 21,
 11,
 11,
 26,
 25,
 21,
 22,
 14,
 23,
 17,
 22,
 19,
 24,
 23,
 20,
 10,
 20,
 21,
 11,
 19,
 21,
 23,
 21,
 19,
 19,
 14,
 18,
 16,
 25,
 22,
 20,
 15,
 15,
 22,
 25,
 27,
 21,
 11,
 22,
 12,
 22,
 11,
 20,
 19,
 15,
 20,
 20,
 20,
 17,
 25,
 17,
 24,
 10,
 25,
 16,
 20,
 10,
 17,
 15,
 25,
 23,
 19,
 18,
 20,
 24,
 14,
 14,
 21,
 20,
 15,
 24,
 17,
 23,
 17,
 19,
 13,
 20,
 23,
 18,
 18,
 25,
 17,
 21,
 18,
 19,
 15,
 8,
 22,
 20,
 20,
 22,
 21,
 18,
 16,
 27,
 20,
 21,
 11,
 20,
 25,
 18,
 17,
 23,
 17,
 14,
 23,
 22,
 29,
 14,
 18,
 18,
 17,
 21,
 14,
 18,
 20,
 20,
 20,
 25,
 13,
 15,
 27,
 25,
 11,
 17,
 11,
 16,
 19,
 23,
 21,
 6,
 18,
 23,
 21,
 14,
 19,
 14,
 18,
 23,
 9,
 19,
 28,
 19,
 19,
 13,
 16,
 4,
 12,
 24,
 21,
 17,
 6,
 17,
 15,
 16,
 22,
 20,
 22,
 15,
 10,
 15,
 21,
 19,
 24,
 17,
 15,
 12,
 23,
 23,
 22,
 10,
 16,
 20,
 23,
 20,
 17,
 15,
 18,
 26,
 21,
 23,
 24,
 17,
 17,
 17,
 12,
 20,
 17,
 23,
 23,
 13,
 23,
 18,
 16,
 2,
 21,
 10,
 15,
 10,
 15,
 17,
 13,
 13,
 17,
 24,
 23,
 19,
 13,
 23,
 15,
 20,
 14,
 23,
 17,
 13,
 25,
 17,
 20,
 8,
 26,
 15,
 13,
 24,
 20,
 16,
 20,
 18,
 24,
 14,
 16,
 17,
 14,
 21,
 23,
 20,
 14,
 13,
 17,
 18,
 17,
 21,
 14,
 16,
 23,
 16,
 24,
 16,
 10,
 13,
 11,
 18,
 23,
 16,
 22,
 20,
 15,
 20,
 14,
 15,
 16,
 19,
 12,
 18,
 22,
 20,
 21,
 14,
 22,
 26,
 21,
 10,
 20,
 15,
 13,
 20,
 5,
 17,
 17,
 21,
 25,
 12,
 8,
 16,
 23,
 14,
 18,
 14,
 13,
 14,
 26,
 15,
 24,
 26,
 19,
 16,
 18,
 18,
 16,
 17,
 18,
 21,
 23,
 20,
 22,
 19,
 18,
 19,
 8,
 23,
 21,
 21,
 23,
 19,
 18,
 12,
 17,
 10,
 20,
 20,
 25,
 17,
 15,
 17,
 24,
 15,
 17,
 22,
 14,
 13,
 15,
 24,
 16,
 16,
 22,
 21,
 20,
 11,
 25,
 21,
 18,
 17,
 15,
 22,
 16,
 10,
 21,
 20,
 22,
 20,
 19,
 20,
 21,
 11,
 21,
 22,
 22,
 16,
 17,
 24,
 13,
 15,
 15,
 22,
 20,
 16,
 19,
 20,
 14,
 23,
 23,
 20,
 19,
 15,
 19,
 21,
 24,
 19,
 21,
 22,
 22,
 21,
 4,
 21,
 14,
 21,
 15,
 22,
 21,
 24,
 19,
 19,
 19,
 21,
 20,
 20,
 16,
 15,
 23,
 20,
 17,
 19,
 19,
 13,
 23,
 21,
 23,
 21,
 24,
 24,
 19,
 13,
 21,
 17,
 22,
 17,
 24,
 23,
 27,
 20,
 21,
 20,
 21,
 13,
 19,
 24,
 14,
 24,
 23,
 19,
 23,
 21,
 16,
 12,
 17,
 24,
 19,
 21,
 19,
 22,
 11,
 9,
 21,
 22,
 24,
 7,
 20,
 9,
 18,
 19,
 22,
 17,
 22,
 16,
 18,
 13,
 13,
 14,
 23,
 20,
 15,
 12,
 22,
 19,
 24,
 20,
 22,
 24,
 25,
 16,
 6,
 23,
 16,
 21,
 19,
 23,
 18,
 11,
 14,
 21,
 12,
 24,
 15,
 13,
 22,
 19,
 15,
 23,
 21,
 16,
 21,
 17,
 22,
 20,
 12,
 10,
 19,
 25,
 14,
 23,
 14,
 12,
 24,
 17,
 10,
 15,
 22,
 17,
 19,
 21,
 11,
 23,
 21,
 16,
 11,
 21,
 12,
 18,
 22,
 12,
 7,
 15,
 17,
 15,
 9,
 21,
 11,
 18,
 15,
 12,
 12,
 22,
 19,
 19,
 21,
 19,
 14,
 22,
 21,
 14,
 13,
 23,
 5,
 14,
 16,
 17,
 22,
 20,
 11,
 22,
 22,
 24,
 20,
 16,
 10,
 14,
 13,
 26,
 20,
 24,
 17,
 20,
 20,
 22,
 17,
 18,
 20,
 22,
 25,
 16,
 18,
 9,
 14,
 22,
 14,
 13,
 ...]

In [319]:
# count words in tae.text - dict
text_length_dict = {}

for i in range (0, len(tae)):
    x = len(tae.test[i].split(' '))   
    new_variable = x
    text_length_dict[i] = new_variable

text_length_dict

{0: 18,
 1: 26,
 2: 24,
 3: 17,
 4: 27,
 5: 20,
 6: 23,
 7: 26,
 8: 24,
 9: 20,
 10: 22,
 11: 21,
 12: 18,
 13: 19,
 14: 23,
 15: 20,
 16: 29,
 17: 13,
 18: 19,
 19: 25,
 20: 23,
 21: 19,
 22: 17,
 23: 17,
 24: 23,
 25: 20,
 26: 19,
 27: 15,
 28: 20,
 29: 17,
 30: 17,
 31: 5,
 32: 25,
 33: 19,
 34: 12,
 35: 20,
 36: 21,
 37: 19,
 38: 22,
 39: 14,
 40: 24,
 41: 20,
 42: 25,
 43: 27,
 44: 22,
 45: 26,
 46: 21,
 47: 20,
 48: 20,
 49: 23,
 50: 21,
 51: 27,
 52: 11,
 53: 19,
 54: 15,
 55: 19,
 56: 24,
 57: 13,
 58: 23,
 59: 20,
 60: 19,
 61: 21,
 62: 16,
 63: 3,
 64: 17,
 65: 16,
 66: 24,
 67: 24,
 68: 23,
 69: 18,
 70: 19,
 71: 9,
 72: 23,
 73: 21,
 74: 22,
 75: 22,
 76: 18,
 77: 17,
 78: 24,
 79: 26,
 80: 23,
 81: 21,
 82: 23,
 83: 25,
 84: 22,
 85: 24,
 86: 25,
 87: 17,
 88: 22,
 89: 18,
 90: 25,
 91: 23,
 92: 25,
 93: 27,
 94: 19,
 95: 23,
 96: 23,
 97: 22,
 98: 28,
 99: 22,
 100: 22,
 101: 19,
 102: 25,
 103: 26,
 104: 24,
 105: 22,
 106: 26,
 107: 26,
 108: 24,
 109: 6,
 110: 23,
 111: 28,
 112: 7,
 113: 23,
 114: 25,
 115: 24,
 116: 24,
 117: 25,
 118: 19,
 119: 26,
 120: 26,
 121: 22,
 122: 17,
 123: 22,
 124: 18,
 125: 21,
 126: 21,
 127: 11,
 128: 26,
 129: 10,
 130: 26,
 131: 24,
 132: 11,
 133: 24,
 134: 22,
 135: 23,
 136: 23,
 137: 27,
 138: 22,
 139: 23,
 140: 20,
 141: 24,
 142: 20,
 143: 22,
 144: 16,
 145: 24,
 146: 23,
 147: 24,
 148: 27,
 149: 23,
 150: 21,
 151: 25,
 152: 25,
 153: 17,
 154: 19,
 155: 13,
 156: 23,
 157: 15,
 158: 23,
 159: 8,
 160: 22,
 161: 19,
 162: 26,
 163: 27,
 164: 9,
 165: 27,
 166: 24,
 167: 29,
 168: 24,
 169: 27,
 170: 25,
 171: 26,
 172: 18,
 173: 27,
 174: 27,
 175: 26,
 176: 23,
 177: 24,
 178: 4,
 179: 23,
 180: 17,
 181: 25,
 182: 25,
 183: 25,
 184: 18,
 185: 27,
 186: 22,
 187: 15,
 188: 24,
 189: 20,
 190: 21,
 191: 25,
 192: 25,
 193: 22,
 194: 22,
 195: 21,
 196: 18,
 197: 21,
 198: 28,
 199: 27,
 200: 23,
 201: 21,
 202: 23,
 203: 23,
 204: 22,
 205: 22,
 206: 22,
 207: 24,
 208: 25,
 209: 28,
 210: 16,
 211: 12,
 212: 26,
 213: 28,
 214: 25,
 215: 28,
 216: 24,
 217: 22,
 218: 21,
 219: 17,
 220: 22,
 221: 24,
 222: 21,
 223: 27,
 224: 22,
 225: 21,
 226: 25,
 227: 24,
 228: 24,
 229: 21,
 230: 11,
 231: 23,
 232: 22,
 233: 13,
 234: 19,
 235: 19,
 236: 20,
 237: 20,
 238: 26,
 239: 25,
 240: 16,
 241: 18,
 242: 23,
 243: 17,
 244: 22,
 245: 20,
 246: 21,
 247: 22,
 248: 15,
 249: 25,
 250: 23,
 251: 20,
 252: 27,
 253: 25,
 254: 27,
 255: 12,
 256: 27,
 257: 22,
 258: 23,
 259: 16,
 260: 18,
 261: 25,
 262: 20,
 263: 23,
 264: 23,
 265: 13,
 266: 26,
 267: 21,
 268: 14,
 269: 23,
 270: 22,
 271: 22,
 272: 25,
 273: 8,
 274: 18,
 275: 21,
 276: 21,
 277: 21,
 278: 19,
 279: 25,
 280: 13,
 281: 11,
 282: 8,
 283: 19,
 284: 12,
 285: 28,
 286: 27,
 287: 25,
 288: 24,
 289: 2,
 290: 10,
 291: 21,
 292: 21,
 293: 25,
 294: 24,
 295: 20,
 296: 15,
 297: 11,
 298: 23,
 299: 28,
 300: 23,
 301: 18,
 302: 24,
 303: 24,
 304: 22,
 305: 24,
 306: 24,
 307: 20,
 308: 22,
 309: 13,
 310: 23,
 311: 21,
 312: 17,
 313: 23,
 314: 17,
 315: 24,
 316: 26,
 317: 17,
 318: 28,
 319: 24,
 320: 22,
 321: 25,
 322: 12,
 323: 20,
 324: 19,
 325: 27,
 326: 24,
 327: 26,
 328: 11,
 329: 22,
 330: 27,
 331: 11,
 332: 22,
 333: 7,
 334: 18,
 335: 19,
 336: 25,
 337: 19,
 338: 24,
 339: 23,
 340: 16,
 341: 5,
 342: 22,
 343: 21,
 344: 24,
 345: 4,
 346: 27,
 347: 14,
 348: 22,
 349: 23,
 350: 23,
 351: 26,
 352: 28,
 353: 22,
 354: 12,
 355: 18,
 356: 21,
 357: 21,
 358: 17,
 359: 23,
 360: 28,
 361: 21,
 362: 14,
 363: 23,
 364: 24,
 365: 29,
 366: 25,
 367: 23,
 368: 14,
 369: 14,
 370: 28,
 371: 22,
 372: 24,
 373: 25,
 374: 10,
 375: 26,
 376: 21,
 377: 28,
 378: 25,
 379: 23,
 380: 25,
 381: 24,
 382: 25,
 383: 15,
 384: 29,
 385: 22,
 386: 14,
 387: 15,
 388: 23,
 389: 21,
 390: 18,
 391: 13,
 392: 22,
 393: 21,
 394: 20,
 395: 22,
 396: 23,
 397: 22,
 398: 19,
 399: 21,
 400: 19,
 401: 10,
 402: 17,
 403: 9,
 404: 13,
 405: 16,
 406: 24,
 407: 18,
 408: 2,
 409: 21,
 410: 20,
 411: 24,
 412: 14,
 413: 25,
 414: 18,
 415: 21,
 416: 16,
 417: 29,
 418: 18,
 419: 22,
 420: 12,
 421: 20,
 422: 16,
 423: 25,
 424: 25,
 425: 21,
 426: 11,
 427: 11,
 428: 26,
 429: 25,
 430: 21,
 431: 22,
 432: 14,
 433: 23,
 434: 17,
 435: 22,
 436: 19,
 437: 24,
 438: 23,
 439: 20,
 440: 10,
 441: 20,
 442: 21,
 443: 11,
 444: 19,
 445: 21,
 446: 23,
 447: 21,
 448: 19,
 449: 19,
 450: 14,
 451: 18,
 452: 16,
 453: 25,
 454: 22,
 455: 20,
 456: 15,
 457: 15,
 458: 22,
 459: 25,
 460: 27,
 461: 21,
 462: 11,
 463: 22,
 464: 12,
 465: 22,
 466: 11,
 467: 20,
 468: 19,
 469: 15,
 470: 20,
 471: 20,
 472: 20,
 473: 17,
 474: 25,
 475: 17,
 476: 24,
 477: 10,
 478: 25,
 479: 16,
 480: 20,
 481: 10,
 482: 17,
 483: 15,
 484: 25,
 485: 23,
 486: 19,
 487: 18,
 488: 20,
 489: 24,
 490: 14,
 491: 14,
 492: 21,
 493: 20,
 494: 15,
 495: 24,
 496: 17,
 497: 23,
 498: 17,
 499: 19,
 500: 13,
 501: 20,
 502: 23,
 503: 18,
 504: 18,
 505: 25,
 506: 17,
 507: 21,
 508: 18,
 509: 19,
 510: 15,
 511: 8,
 512: 22,
 513: 20,
 514: 20,
 515: 22,
 516: 21,
 517: 18,
 518: 16,
 519: 27,
 520: 20,
 521: 21,
 522: 11,
 523: 20,
 524: 25,
 525: 18,
 526: 17,
 527: 23,
 528: 17,
 529: 14,
 530: 23,
 531: 22,
 532: 29,
 533: 14,
 534: 18,
 535: 18,
 536: 17,
 537: 21,
 538: 14,
 539: 18,
 540: 20,
 541: 20,
 542: 20,
 543: 25,
 544: 13,
 545: 15,
 546: 27,
 547: 25,
 548: 11,
 549: 17,
 550: 11,
 551: 16,
 552: 19,
 553: 23,
 554: 21,
 555: 6,
 556: 18,
 557: 23,
 558: 21,
 559: 14,
 560: 19,
 561: 14,
 562: 18,
 563: 23,
 564: 9,
 565: 19,
 566: 28,
 567: 19,
 568: 19,
 569: 13,
 570: 16,
 571: 4,
 572: 12,
 573: 24,
 574: 21,
 575: 17,
 576: 6,
 577: 17,
 578: 15,
 579: 16,
 580: 22,
 581: 20,
 582: 22,
 583: 15,
 584: 10,
 585: 15,
 586: 21,
 587: 19,
 588: 24,
 589: 17,
 590: 15,
 591: 12,
 592: 23,
 593: 23,
 594: 22,
 595: 10,
 596: 16,
 597: 20,
 598: 23,
 599: 20,
 600: 17,
 601: 15,
 602: 18,
 603: 26,
 604: 21,
 605: 23,
 606: 24,
 607: 17,
 608: 17,
 609: 17,
 610: 12,
 611: 20,
 612: 17,
 613: 23,
 614: 23,
 615: 13,
 616: 23,
 617: 18,
 618: 16,
 619: 2,
 620: 21,
 621: 10,
 622: 15,
 623: 10,
 624: 15,
 625: 17,
 626: 13,
 627: 13,
 628: 17,
 629: 24,
 630: 23,
 631: 19,
 632: 13,
 633: 23,
 634: 15,
 635: 20,
 636: 14,
 637: 23,
 638: 17,
 639: 13,
 640: 25,
 641: 17,
 642: 20,
 643: 8,
 644: 26,
 645: 15,
 646: 13,
 647: 24,
 648: 20,
 649: 16,
 650: 20,
 651: 18,
 652: 24,
 653: 14,
 654: 16,
 655: 17,
 656: 14,
 657: 21,
 658: 23,
 659: 20,
 660: 14,
 661: 13,
 662: 17,
 663: 18,
 664: 17,
 665: 21,
 666: 14,
 667: 16,
 668: 23,
 669: 16,
 670: 24,
 671: 16,
 672: 10,
 673: 13,
 674: 11,
 675: 18,
 676: 23,
 677: 16,
 678: 22,
 679: 20,
 680: 15,
 681: 20,
 682: 14,
 683: 15,
 684: 16,
 685: 19,
 686: 12,
 687: 18,
 688: 22,
 689: 20,
 690: 21,
 691: 14,
 692: 22,
 693: 26,
 694: 21,
 695: 10,
 696: 20,
 697: 15,
 698: 13,
 699: 20,
 700: 5,
 701: 17,
 702: 17,
 703: 21,
 704: 25,
 705: 12,
 706: 8,
 707: 16,
 708: 23,
 709: 14,
 710: 18,
 711: 14,
 712: 13,
 713: 14,
 714: 26,
 715: 15,
 716: 24,
 717: 26,
 718: 19,
 719: 16,
 720: 18,
 721: 18,
 722: 16,
 723: 17,
 724: 18,
 725: 21,
 726: 23,
 727: 20,
 728: 22,
 729: 19,
 730: 18,
 731: 19,
 732: 8,
 733: 23,
 734: 21,
 735: 21,
 736: 23,
 737: 19,
 738: 18,
 739: 12,
 740: 17,
 741: 10,
 742: 20,
 743: 20,
 744: 25,
 745: 17,
 746: 15,
 747: 17,
 748: 24,
 749: 15,
 750: 17,
 751: 22,
 752: 14,
 753: 13,
 754: 15,
 755: 24,
 756: 16,
 757: 16,
 758: 22,
 759: 21,
 760: 20,
 761: 11,
 762: 25,
 763: 21,
 764: 18,
 765: 17,
 766: 15,
 767: 22,
 768: 16,
 769: 10,
 770: 21,
 771: 20,
 772: 22,
 773: 20,
 774: 19,
 775: 20,
 776: 21,
 777: 11,
 778: 21,
 779: 22,
 780: 22,
 781: 16,
 782: 17,
 783: 24,
 784: 13,
 785: 15,
 786: 15,
 787: 22,
 788: 20,
 789: 16,
 790: 19,
 791: 20,
 792: 14,
 793: 23,
 794: 23,
 795: 20,
 796: 19,
 797: 15,
 798: 19,
 799: 21,
 800: 24,
 801: 19,
 802: 21,
 803: 22,
 804: 22,
 805: 21,
 806: 4,
 807: 21,
 808: 14,
 809: 21,
 810: 15,
 811: 22,
 812: 21,
 813: 24,
 814: 19,
 815: 19,
 816: 19,
 817: 21,
 818: 20,
 819: 20,
 820: 16,
 821: 15,
 822: 23,
 823: 20,
 824: 17,
 825: 19,
 826: 19,
 827: 13,
 828: 23,
 829: 21,
 830: 23,
 831: 21,
 832: 24,
 833: 24,
 834: 19,
 835: 13,
 836: 21,
 837: 17,
 838: 22,
 839: 17,
 840: 24,
 841: 23,
 842: 27,
 843: 20,
 844: 21,
 845: 20,
 846: 21,
 847: 13,
 848: 19,
 849: 24,
 850: 14,
 851: 24,
 852: 23,
 853: 19,
 854: 23,
 855: 21,
 856: 16,
 857: 12,
 858: 17,
 859: 24,
 860: 19,
 861: 21,
 862: 19,
 863: 22,
 864: 11,
 865: 9,
 866: 21,
 867: 22,
 868: 24,
 869: 7,
 870: 20,
 871: 9,
 872: 18,
 873: 19,
 874: 22,
 875: 17,
 876: 22,
 877: 16,
 878: 18,
 879: 13,
 880: 13,
 881: 14,
 882: 23,
 883: 20,
 884: 15,
 885: 12,
 886: 22,
 887: 19,
 888: 24,
 889: 20,
 890: 22,
 891: 24,
 892: 25,
 893: 16,
 894: 6,
 895: 23,
 896: 16,
 897: 21,
 898: 19,
 899: 23,
 900: 18,
 901: 11,
 902: 14,
 903: 21,
 904: 12,
 905: 24,
 906: 15,
 907: 13,
 908: 22,
 909: 19,
 910: 15,
 911: 23,
 912: 21,
 913: 16,
 914: 21,
 915: 17,
 916: 22,
 917: 20,
 918: 12,
 919: 10,
 920: 19,
 921: 25,
 922: 14,
 923: 23,
 924: 14,
 925: 12,
 926: 24,
 927: 17,
 928: 10,
 929: 15,
 930: 22,
 931: 17,
 932: 19,
 933: 21,
 934: 11,
 935: 23,
 936: 21,
 937: 16,
 938: 11,
 939: 21,
 940: 12,
 941: 18,
 942: 22,
 943: 12,
 944: 7,
 945: 15,
 946: 17,
 947: 15,
 948: 9,
 949: 21,
 950: 11,
 951: 18,
 952: 15,
 953: 12,
 954: 12,
 955: 22,
 956: 19,
 957: 19,
 958: 21,
 959: 19,
 960: 14,
 961: 22,
 962: 21,
 963: 14,
 964: 13,
 965: 23,
 966: 5,
 967: 14,
 968: 16,
 969: 17,
 970: 22,
 971: 20,
 972: 11,
 973: 22,
 974: 22,
 975: 24,
 976: 20,
 977: 16,
 978: 10,
 979: 14,
 980: 13,
 981: 26,
 982: 20,
 983: 24,
 984: 17,
 985: 20,
 986: 20,
 987: 22,
 988: 17,
 989: 18,
 990: 20,
 991: 22,
 992: 25,
 993: 16,
 994: 18,
 995: 9,
 996: 14,
 997: 22,
 998: 14,
 999: 13,
 ...}

In [320]:
# count words in tae.text - dataframe
text_length_df = pd.DataFrame(columns=['number', 'word_count'])

for i in range (0, len(tae)):
    x = len(tae.test[i].split(' '))
    df_append = pd.DataFrame([[i, x]], columns = ['number', 'word_count'])
    text_length_df = text_length_df.append(df_append)

text_length_df

   number word_count
0       0         18
0       1         26
0       2         24
0       3         17
0       4         27
..    ...        ...
0    2350         19
0    2351         22
0    2352         21
0    2353         22
0    2354         22

[2355 rows x 2 columns]

### Strings

In [321]:
for i in range(0, len(tae)):
    tae.test[i] = tae.test[i].lower()

<ipython-input-321-fd1015c6fe6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.test[i] = tae.test[i].lower()

In [322]:
for i in range(0, len(tae)):
    tae.test[i] = tae.test[i].upper()

<ipython-input-322-dbab00879948>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.test[i] = tae.test[i].upper()

In [323]:
for i in range(0, len(tae)):
    tae.test[i] = tae.test[i].title()

<ipython-input-323-d485577b3908>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tae.test[i] = tae.test[i].title()

In [324]:
tae.filter(regex='id$') # how it ends (columns)
tae.filter(regex='^r') # how it begins (columns)
tae.filter(regex='^r[1-5]$') # how it begins r and ends between 1-5 (columns)
tae.filter(regex='^(?!Species$).*') # except for species

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,test,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rating
0,8.924206e+17,NaN,NaN,16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This Is Phineas. He'S A Mystical Boy. Only Eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,,,,,23
1,8.921774e+17,NaN,NaN,00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This Is Tilly. She'S Just Checking Pup On You....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,,,,,23
2,8.918152e+17,NaN,NaN,00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This Is Archie. He Is A Rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,,,,,22
3,8.916896e+17,NaN,NaN,15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This Is Darla. She Commenced A Snooze Mid Meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,,,,,23
4,8.913276e+17,NaN,NaN,16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This Is Franklin. He Would Like You To Stop Ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,,,,,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,6.660492e+17,NaN,NaN,00:24:50,"<a href=""http://twitter.com/download/iphone"" r...",Here We Have A 1949 1St Generation Vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,,,,,15
2351,6.660442e+17,NaN,NaN,00:04:52,"<a href=""http://twitter.com/download/iphone"" r...",This Is A Purebred Piers Morgan. Loves To Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,,,,,16
2352,6.660334e+17,NaN,NaN,23:21:54,"<a href=""http://twitter.com/download/iphone"" r...",Here Is A Very Happy Pup. Big Fan Of Well-Main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,,,,,19
2353,6.660293e+17,NaN,NaN,23:05:30,"<a href=""http://twitter.com/download/iphone"" r...",This Is A Western Brown Mitsubishi Terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,,,,,17
2354,6.660209e+17,NaN,NaN,22:32:08,"<a href=""http://twitter.com/download/iphone"" r...",Here We Have A Japanese Irish Setter. Lost Eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,,,,,18

In [325]:
tae.test_new = tae.test.str.replace('meet', 'meat')

<ipython-input-325-fdfdac1b5277>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tae.test_new = tae.test.str.replace('meet', 'meat')

## Functions

In [326]:
def anne_function (input_1, input_2):
    anne_output = input_1 * input_2
    return anne_output

In [327]:
anne_function(3,4)

12

In [328]:
zwörgü_function = lambda input_1, input_2: input_1 + input_2

In [329]:
zwörgü_function(3,4)

7